
*{
    border:dotted
  
}
h1{
    color:blueviolet
}
.header{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between
}
.grid{
    background-color: chartreuse;
    
    display:flex;
    justify-content:space space-evenly;
    flex-wrap: wrap;
}
.footer{
    background-color: slateblue;
    display:flex;
    justify-content:flex-end;
}
.grid p{
    text-align:center;
    color: red;
}
.subhead{
    background-color: seagreen;
    color:rgb(255, 0, 170);
    text-align:center;
}